html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.uptitle {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-transform: uppercase;
  color: #303030;
}
.uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background: #303030;
}

.button {
  width: 194px;
  height: 40px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #FF6C00;
  border-radius: 25px;
}
.button:hover {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header__nav {
  position: relative;
  display: flex;
}

.site-header__link {
  z-index: 4;
}

.site-header__site-logo-icon {
  width: 69px;
  height: 56px;
  fill: #FFFFFF;
}

.site-header__menu-button {
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.site-header__menu-icon {
  width: 40px;
  height: 40px;
  fill: #FFFFFF;
}

.site-header__navigation {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 337px;
  height: 100vh;
  padding: 48px 40px;
  background: #FFFFFF;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  z-index: 3;
}
.site-header__navigation:not(.is-hidden) {
  display: block;
}

.site-header__close-button {
  display: block;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.site-header__close-icon {
  width: 40px;
  height: 40px;
  fill: #303030;
}

.site-header__navigation-list {
  margin-bottom: 24px;
}

.site-header__item:not(:last-child) {
  margin-bottom: 24px;
}
.site-header__item:last-child {
  margin-top: 64px;
}

.site-header__navigation-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.1em;
  color: #303030;
}
.site-header__navigation-link:hover {
  color: #FF6C00;
}

.site-header__button {
  margin-bottom: 95px;
}

.site-header__social-list {
  position: relative;
  padding-left: 100px;
}
.site-header__social-list::before {
  position: absolute;
  left: 0;
  top: 11px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.site-header__social-item:not(:last-child) {
  margin-bottom: 24px;
}

.site-header__social-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3571428571;
  letter-spacing: 0.2em;
  color: #303030;
}
.site-header__social-link:hover {
  color: #FF6C00;
}

.hero-section {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 580px;
  padding-top: 208px;
  padding-bottom: 209px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../../images/mobile/hero_image1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 1;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../../images/mobile/hero_image1@2x.jpg);
  }
}

.hero-section__uptitle {
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
.hero-section__uptitle::before {
  content: "";
  background: rgba(157, 164, 189, 0.6);
}

.hero-section__title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.hero-section__description {
  width: 336px;
  font-size: 16px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.about-section {
  padding-top: 500px;
}

.about-section__uptitle {
  margin-bottom: 20px;
}

.about-section__title {
  width: 306px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-section__downtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
}

.about-section__description {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.8571428571;
  letter-spacing: 0.02em;
}

.prices-section {
  background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../../images/mobile/prices_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices-section {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../../images/mobile/prices_background@2x.jpg);
  }
}

.prices-section__container {
  text-align: center;
}

.prices-section__uptittle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.prices-section__uptittle::before {
  content: "";
  background-color: rgba(157, 164, 189, 0.6);
}

.prices-section__title {
  margin-bottom: 44px;
  text-align: left;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.prices-section__wrap {
  width: 418px;
  height: 360px;
  margin-bottom: 44px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 20px;
  text-align: left;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-section__item {
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
}
.prices-section__item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-section__item::before {
  content: "";
  width: 40px;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-section__text:first-child {
  order: -1;
}

.prices-section__button {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */