.about-section {}

.about-section__container {
    @include tablet-resolution {
        display: flex;
        column-gap: 30px;
    }
}

.about-section__images-wrap {
    display: none;

    @include tablet-resolution {
        display: block;
    }
}

.about-section__images-list {}

.about-section__images-item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.about-section__image {
}

.about-section__content {
    @include tablet-resolution {
        width: 330px;
    }
}

.about-section__uptitle {
    margin-bottom: 20px;
}

.about-section__title {
    width: 306px;
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.05em;
    color: $global-blackgray-color;
}

.about-section__downtitle {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.02em;

    @include tablet-resolution {
        font-size: 18px;
        line-height: calc(30 / 18);
    }
}

.about-section__description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.02em;

    @include tablet-resolution {
        margin-bottom: 77px;
    }
}

.about-section__button {
}