.booking-section {
    background-color: $background-dark-color;
}

.booking-section__container {}

.booking-section__title {
    margin-bottom: 44px;
    font-size: 42px;
    line-height: calc(49 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: $global-white-color;

    @include tablet-resolution {
        text-align: left;
    }
}

.booking-section__form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @include tablet-resolution {
        & {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}

.booking-section__input,
.booking-section__textarea {
    margin-bottom: 44px;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: calc(15 / 11);
    border: none;
    border-bottom: 1px solid $form-placeholders-color;
    background: none;
    color: $global-white-color;

    transition-property: border-color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    &::placeholder {
        font-size: 11px;
        line-height: calc(15 / 11);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $form-placeholders-color;

        transition-property: color;
        transition-duration: $global-transition-duration;
        transition-timing-function: $global-transition-timing-function;
        transition-delay: 0;
    }

    &:focus {
        outline: none;
        border-color: $global-white-color;
        
        &::placeholder {
            color: $global-white-color;
        }
    }
}

.booking-section__input {
    @include tablet-resolution {
        & {
            width: 330px;
            margin-bottom: 14px;
        }
    }
}

.booking-section__textarea {
    @include tablet-resolution {
        width: 100%;
        margin-bottom: 14px;
    }
}

.booking-section__button {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    color: $global-white-color;

    @include tablet-resolution {
        margin-left: 0;
    }
}