.contacts-section {
    padding-top: 30px;
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.9), rgba(17, 19, 25, 0.9)), url(../../images/mobile/contacts_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
    @include retina-displays {
        background-image: linear-gradient(to right, rgba(17, 19, 25, 0.9), rgba(17, 19, 25, 0.9)), url(../../images/mobile/contacts_background@2x.jpg);
    }

    @include tablet-resolution {
        padding-top: 100px;
        background-image: linear-gradient(to right, rgba(17, 19, 25, 0.9), rgba(17, 19, 25, 0.9)), url(../../images/tablet/contacts_background.jpg);
        background-size: cover;
        
        @include retina-displays {
            background-image: linear-gradient(to right, rgba(17, 19, 25, 0.9), rgba(17, 19, 25, 0.9)), url(../../images/tablet/contacts_background@2x.jpg);
        }
    }

    @include desktop-resolution {
        // width: 800px;
    }
}

.contacts-section__container {
    @include desktop-resolution {
        padding-left: 100px;
    }
}

.contacts-section__title {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: calc(49 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: $global-white-color;

    @include tablet-resolution {
        text-align: left;
    }
}

.contact-section__wrap {
    @include tablet-resolution {
        display: flex;
        gap: 50px;
        align-items: baseline;
    }

    @include desktop-resolution {
        flex-direction: column;
        gap: 26px;
    }
}

.contacts-section__address {
    padding: 0;
    margin: 0;
}

.contacts-section__list {
    margin-bottom: 44px;
    
    @include tablet-resolution {
        width: 330px;
    }
}

.contacts-section__item {}

.contacts-section__link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(60 / 18);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $global-purple-color;

    transition-property: color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    &:hover {
        color: $global-white-color;
    }
}

.contacts-section__link--physical-sddress {
    & {
        font-weight: 700;
    }

    @include desktop-resolution {
        
    }
}

.contacts-section__link--mail {
    text-decoration: underline;
}

.contacts-section__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    fill: currentColor;
}

.contacts-section__uptitle {
    margin-bottom: 20px;
    color: $global-white-color;

    &::before {
        content: "";
        background: $form-placeholders-color;
    }
}

.contacts-section__description {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: $global-purple-color;
}