.features-section {}

.features-section__container {
    @include desktop-resolution {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        justify-content: flex-end;
    }
}

.features-section__wrap {}

.features-section__uptitle {
    margin-bottom: 20px;
}

.features-section__title {
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-style: normal;
    font-size: 42px;
    line-height: calc(49 / 42);
    letter-spacing: 0.05em;
    color: $global-blackgray-color;

    @include tablet-resolution {
        width: 449px;
    }
}

.features-section__description {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: calc(30 / 18);

    @include tablet-resolution {
        width: 500px;
    }
}

.features-section__list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;

    @include tablet-resolution {
        width: 450px;
        margin-left: auto;
    }

    @include desktop-resolution {
        margin-left: 100px;
    }
}

.features-section__item {
    width: 193px;
    max-height: 133px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background-gray-color;

    &:nth-child(odd) {
        margin-right: 30px;
    }
    
    &:nth-child(even) {
        margin-top: 30px;
    }

    @include tablet-resolution {
        width: 210px;
    }

    @include desktop-resolution {
        width: 170px;
    }
}

.features-count {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(57 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: $global-blackgray-color;
}

.features-plus {
    display: inline-block;
    vertical-align: top;
    padding-top: 11px;
    margin-left: 2px;
    font-size: 16px;
    line-height: calc(22 / 16);
    color: $global-orange-color;
}

.features-text {
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    line-height: calc(15 / 11);
    text-align: center;
    color: $global-blackgray-color;

    @include tablet-resolution {
        width: 122px;

        .features-section__item:nth-child(3) & {
            width: 93px;
        }
    }
}