.modal-window-backdrop {
}

.modal-hidden {}

.modal-window {
    outline: 1px solid blue;
    width: 450px;
}

.modal-window__close-button {
    border: none;
    background: none;
}

.modal-window__close-icon {
    width: 30px;
    height: 30px;
}

.modal-window__tittle {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
    text-align: center;
    letter-spacing: 0.05em;
    color: $global-white-color;
}

.modal-window__form {
    display: flex;
    flex-direction: column;
}

.modal-window__input {}

.modal-window__textarea {}

.modal-window__button {}

.button {}