.prices-section {
    background: rgba(17, 19, 25, 0.4), url(../../images/mobile/prices_background.jpg);
}

.prices-section__container {
    text-align: center;
}

.prices-section__uptittle {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);

    &::before {
        content: '';
        background-color: rgba(157, 164, 189, 0.6);
    }
}

.prices-section__title {
    margin-bottom: 44px;
    text-align: left;
}

.prices-section__wrap {
    width: 418px;
    height: 360px;
    margin-bottom: 44px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-section__list {
    font-size: 14px;
    line-height: calc(20 / 14);
    letter-spacing: 0.02em;
    color: $global-purple-color;
}

.prices-section__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.price {}

.prices-section__button {
    color: $global-white-color;
}