.prices-section {
    background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../../images/mobile/prices_background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    @include retina-displays {
        background-image: linear-gradient(to right, rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url(../../images/mobile/prices_background@2x.jpg);
    }
}

.prices-section__container {
    text-align: center;
}

.prices-section__uptittle {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);

    &::before {
        content: '';
        background-color: rgba(157, 164, 189, 0.6);
    }
}

.prices-section__title {
    margin-bottom: 44px;
    text-align: left;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.05em;
    color: $global-white-color;
}

.prices-section__wrap {
    width: 418px;
    height: 360px;
    margin-bottom: 44px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);

    @include tablet-resolution {
        width: 690px;
        height: 444px;
    }
}

.prices-section__list {
    
}

.prices-section__item {
    font-size: 14px;
    line-height: calc(20 / 14);
    letter-spacing: 0.02em;
    color: $global-purple-color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &::before {
        content: "";
        width: 40px;
        height: 1px;
        background: rgba(157, 164, 189, 0.12);
        flex-grow: 1;
    }

    @include tablet-resolution {
        gap: 12px;
        font-size: 18px;
        line-height: calc(30 / 18);
    }
}

.prices-section__text {
    &:first-child {
        order: -1;
    }
}

.prices-section__price {
}

.prices-section__button {
    color: $global-white-color;
}