.site-header {
    position: absolute;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-header__container {
    width: 100vw;
}

.site-header__nav {
    display: flex;

    @include desktop-resolution {
        margin-left: 100px;
    }
}

.site-header__link {
    z-index: 4;
}

.site-header__site-logo-icon {
    width: 69px;
    height: 56px;
    fill: $global-white-color;

    @include tablet-resolution{
        fill: $global-blackgray-color;
    }
}

.site-header__menu-button {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    @include tablet-resolution {
        display: none;
    }
}

.site-header__menu-icon {
    width: 40px;
    height: 40px;
    fill: $global-white-color;

    transition-property: fill;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    .site-header__menu-button:hover & {
        fill: $global-orange-color
    }
}

.site-header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 337px;
    height: 100vh;
    padding: 48px 40px;
    background: $global-white-color;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    z-index: 3;

    &:not(.is-hidden) {
        display: block;
    }

    @include tablet-resolution {
        position: relative;
        margin-left: auto;
        width: 570px;
        height: 76px;
        display: flex;
        column-gap: 37px;
        align-items: baseline;
        padding: 0;
        background: none;
        box-shadow: none;
    }

    @include desktop-resolution {
        & {
            width: 950px;
            margin-left: 120px;
            gap: 0;
        }
    }
}

.site-header__close-button {
    display: block;
    margin-left: auto;
    margin-bottom: 40px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    @include tablet-resolution {
        display: none;
    }
}

.site-header__close-icon {
    width: 40px;
    height: 40px;
    fill: $global-blackgray-color;

    transition-property: fill;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    .site-header__close-button:hover & {
        fill: $global-orange-color;
    }
}

.site-header__navigation-list {
    margin-bottom: 64px;

    @include tablet-resolution {
        display: flex;
        margin: 0;
    }
}

.site-header__item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    @include tablet-resolution {
        margin-left: 16px;
    }
}

.site-header__navigation-link {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25 / 18);
    letter-spacing: 0.1em;
    color: $global-blackgray-color;

    transition-property: color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    &:hover {
        color: $global-orange-color;
    }

    @include tablet-resolution {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.1em;
        color: $global-white-color;
    }
}

.site-header__contacts-list {
    margin-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet-resolution {
        margin: 0;
        flex-direction: column-reverse;
    }

    @include desktop-resolution {
        flex-direction: row;
        align-items: baseline;
        margin-left: 254px;
    }
}

.contacts-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    @include tablet-resolution {
        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

    @include desktop-resolution {
        &:not(:first-child) {
            margin-left: 40px;
        }
    }
}

.site-header__button {
    @include tablet-resolution {
        width: 160px;
        color: $global-white-color;
    }
}

.site-header__social-list {
    position: relative;
    padding-left: 100px;

    &::before {
        position: absolute;
        left: 0;
        top: 11px;
        content: '';
        width: 60px;
        height: 1px;
        background-color: $global-blackgray-color;
    }

    @include tablet-resolution {
        position: absolute;
        bottom: -400px;
        left: -225px;
        padding: 0;
        display: flex;
        transform: rotate(-90deg);

        &::before {
            position: relative;
        }
    }

    @include desktop-resolution {
        left: -300px;
    }
}

.site-header__social-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    @include tablet-resolution {
        &:not(:last-child) {
            margin-bottom: 0px;
        }

        & {
            margin-left: 40px;
        }
    }
}

.site-header__social-link {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: calc(19 / 14);
    letter-spacing: 0.2em;
    color: $global-blackgray-color;

    transition-property: color;
    transition-duration: $global-transition-duration;
    transition-timing-function: $global-transition-timing-function;
    transition-delay: 0;

    &:hover {
        color: $global-orange-color;
    }

    @include tablet-resolution {
        font-size: 11px;
        line-height: calc(15 / 11);
    }
}