html {
    box-sizing: border-box;
}

body {
    font-family: $global-font;
    font-weight: $global-font-weight;
    font-size: $global-font-size;
    letter-spacing: $global-letter-spacing;
    color: $global-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}