$global-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;;
$global-font-weight: 400;
$global-font-size: 18px;
$global-letter-spacing: 0.02em;
$global-font-color: #555555;
$global-white-color: #FFFFFF;
$global-orange-color: #FF6C00;
$global-blackgray-color: #303030;
$global-purple-color: #9DA4BD;